.variant label {
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    gap: var(--gap);
}

.variant span {
    justify-self: self-end;
}

.variant input:disabled ~ * {
    color: var(--inactive-color);
}