/*  
  Route Announcer has an absolute position that does not allow 
  the elements on the screen to be clicked correctly
*/
next-route-announcer {
  display: none;
}

/* Variables */
:root {
  --font-size: 1em;
  --bg-color: #12151c;
  --secondary-bg-color: #06070a;
  --backdrop-bg-color: #22252b;
  --color: #fff;
  --active-color: #fff9;
  --font-family: 
    Arial,
    Helvetica,
    sans-serif;
  --logo-size: 4em;
  --padding: 1em;
  --gap: 1em;
  --columns: 1fr;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1em;
}

*::-webkit-scrollbar-track {
  background-color: #333;
}

body {
  scrollbar-face-color: #555;
  scrollbar-highlight-color: #333;
  scrollbar-shadow-color: #333;
  scrollbar-track-color: #333;
  scrollbar-arrow-color: #555;
  scrollbar-base-color: #555;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1em;
}

body::-webkit-scrollbar-track {
  background-color: #333;
}

/* Globals */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  border: none;
  line-height: 1;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 400;
  outline: none;
  list-style: none;
  text-decoration: none;
  color: var(--color);
  text-transform: capitalize;
}

body {
  background-color: var(--bg-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}